{% extends 'base.html' %}

    {% block content %}
        <div class="container">
            {% include 'nav.html' %}
            <h3>Lista de Contatos</h3>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-Mail</th>
                        <th>Assunto</th>
                        <th>Respondido</th>
                    </tr>
                </thead>
                <tbody>            
                    {% for contato in context['dados'] %}
                    <tr>
                        <td>{{ contato.nome }}</td>
                        <td>{{ contato.email }}</td>
                        <td>{{ contato.assunto }}</td>
                        <td>{{ 'Sim' if contato.respondido else 'Não' }}</td>
                        <td><a href="{{url_for('contatoDetail', id=linha.id)}}"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
